import json
from flask import Flask, render_template, request, make_response, redirect, url_for, jsonify
from src.skills import load_skills, weighted_shuffle
from src.CareerPioneer import predict_jobs
from src.gpt import chat, explain
from src.jobsearch import search_number_of_hits
