#content-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 128px);
    padding-right: 300px;
}

#ai-container {
    background-color: var(--30);
    width: 786px;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-container {
    margin-bottom: 64px;
    text-align: center;
    
}

#refresh-container {
    width: 100%;
    display: flex;
}

#refresh-btn {
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: 32px;
    cursor: pointer;
}

#refresh-icon {
    width: 32px;
    height: 32px;
    transition: 0.1s;
}

#refresh-btn:hover #refresh-icon {
    transform: scale(105%);
}

#refresh-btn.refreshing {
    pointer-events: none;
}

#refresh-btn.refreshing #refresh-icon {
    animation: refresh 0.4s cubic-bezier(0, 1, 0.6, 1.3) backwards;
    opacity: 0.5;
    cursor: not-allowed;
}

@keyframes refresh {
    0% {
      transform: rotate(0deg) scale(125%);
    } 100% {
      transform: rotate(-180deg) scale(115%);
    }
  }



#skill-list {
    padding-top: 32px;
    height:min-content;
}

.skill-btn {
    border-radius: 6px;
    padding: 8px;
    margin: 5px;
    transition: 0.1s transform;
    cursor: pointer;
    height: min-content;
    
    background-color: var(--10);
    color: var(--60);
    box-shadow: 0 0 0 0 var(--10) inset;
}

.skill-btn {
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
     -khtml-user-select: none !important; /* Konqueror HTML */
       -moz-user-select: none !important; /* Old versions of Firefox */
        -ms-user-select: none !important; /* Internet Explorer/Edge */
            user-select: none !important;
}

.skill-btn:hover {
    box-shadow: 0 0 0 1.25px var(--10) inset;
    background-color: var(--60);
    color: var(--10);
    transform: scale(105%);
    transition: 0.2s transform cubic-bezier(0, 1, 0.3, 3);
}

.skill-btn.hidden {
    display: none;
}

.skill-btn.picked {
    display: none;
}

#search-btn {
    background-color: var(--10);
    width: min-content;
    height: min-content;
    text-wrap: nowrap;
    padding: 16px;
    border-radius: 6px;
    color: var(--60);
    pointer-events: none;
    transition: 0.1s;
    opacity: 0.5;
}

#search-btn.active {
    pointer-events: all;
    cursor: pointer;
    opacity: 1;
}

#search-btn.active:hover {
    background-color: var(--60);
    box-shadow: 0 0 0 1.25px var(--10) inset;
    color: var(--10);
    transform: scale(105%);
}


#loading-container {
    display: none;
    text-align: center;
    margin-top: 25vh;
    width: min-content;
    height: 176px;
}

.wave-container {
    margin-top: 32px;
    display: flex;
    width: 270px;
    justify-content: center;
}

.wave {
    width: 5px;
    height: 100px;
    background: var(--10);
    margin: 10px;
    animation: wave 1s ease-in-out infinite;
    border-radius: 2px;
    transform: scaleY(0.1);
    margin-top: 0;
    margin-bottom: 0;
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}
.wave:nth-child(3) {
    animation-delay: 0.2s;
}
.wave:nth-child(4) {
    animation-delay: 0.3s;
}
.wave:nth-child(5) {
    animation-delay: 0.4s;
}
.wave:nth-child(6) {
    animation-delay: 0.5s;
}
.wave:nth-child(7) {
    animation-delay: 0.6s;
}
.wave:nth-child(8) {
    animation-delay: 0.7s;
}
.wave:nth-child(9) {
    animation-delay: 0.8s;
}
    .wave:nth-child(10) {   
    animation-delay: 0.9s;
}
  
@keyframes wave {
    0% {
      transform: scaleY(0.1);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0.1);
    }
}

#jobs-container {
    width: 786px;
    display: flex;
    display: none;
    flex-direction: row;
    height: calc(100% - 128px);
    background-color: var(--30);
}



#jobs-container.semitic #ads-container {
    direction: ltr;
}

#results-container {
    width: 50%;
    height: 100%;
    display: block;
}

.job-btn {
    font-size: 18px;
    width: 100%;
}

#progress-bar {
    width: 0%;
    height: 6px;
    margin: 0;
    margin-top: 64px;
    background-color: var(--10); /* Change color as desired */
    transition: width 0.4s ease; /* Add transition effect */
    align-self: baseline;
  }



  
.job-btn {
    background-color: rgba(0, 0, 0, 0);
    text-align: start;
    padding-left: 10px;
    margin: 10px;
    transition: 0s;
    box-shadow: 0 0 0 0 var(--10) inset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: min-content
}

.job-btn:hover {
    box-shadow: 2px 0 0 0 var(--10) inset;
    transition: 0s;
    padding-left: 10px;
}

.job-btn.active:hover {
    transition: 0.1s;
}

.job-btn.active {
    box-shadow: calc(786px / 2 - 20px) 0 0 0 var(--10) inset;
    color: var(--60);
}

#jobs-container.semitic .job-btn:hover {
    box-shadow: -2px 0 0 0 var(--10) inset;
}

#jobs-container.semitic .job-btn.active {
    box-shadow: calc(-786px / 2 + 20px) 0 0 0 var(--10) inset;
}


.job-btn-content {
    font-size: 14px;
    padding: 10px;
    pointer-events: none;
}


#ads-container {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.ad-div {
    display: none;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 10px;
}

.ad-div.active {
    display: block;
}



.ad {
    width: 100%;
    text-align: start;
    cursor: pointer;
    transition: 0.1s;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 -0.5px 0 0 rgba(0, 0, 0, 0.1) inset;
    margin-block: 5px;
}

.ad:hover {
    color: var(--10);
    text-decoration: underline;
}



@media (min-width: 768px) {

}


@media (min-width: 1240px) {
    
}