@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/* Global styles */

:root {
    --60: rgb(255, 255, 255);
    --30: rgb(240, 240, 240);
    --10: rgb(140, 40, 255);
    --text: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Comfortaa, sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

.semitic {
    direction: rtl;
}



h1 {
    font-size: 20px;
}

#logo {
    margin-right: auto;
    color: white;
    cursor: pointer;
}



h2 {
    margin-top: 32px;
    font-size: 18px;
    font-weight: 500;
}

body {
    padding: 0;
    width: 100vw;
    height: 100vh;
}

button {
    border: 0;
    padding: 6px;
    
}

header {
    background-color: var(--10);
    z-index: 1;
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: auto;
    padding: 10px;
    color: white;
    padding-inline: 32px;
}

header button {
    width: 20px;
    height: 20px;
    margin-inline: 5px;
    cursor: pointer;
}

header button:hover img {
    transform: scale(110%);
}

img {
    transition: 0.1s;
}


#main-container {
    background-color: var(--60);
    width: 100%;
    height: calc(100% - 72px);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--10);
    width: 100%;
    height: 128px;
    position: absolute;
    bottom: 0;
    color: var(--60);
    display: flex;
    justify-content: space-between;

}

.sidebar {
    position:fixed;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(16px);
    box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Change to row */
    width: 256px;
    height: 100%;
    transform: translateX(256px);
    transition: 0.2s;
    right: 0px;
    padding-top: 8px;
}

.sidebar.show {
    transform: translateX(0px);
}

.lang-btn {
    width: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    transition: padding-left 0.1s;
    box-shadow: 0 0 0 0 var(--10) inset;
}

.lang-btn:hover {
    box-shadow: 2px 0 0 0 var(--10) inset;
    padding-left: 10px;
    transition: padding-left 0.1s;
}

.lang-btn.current {
    box-shadow: 256px 0 0 0 var(--10) inset;
    color: var(--60);
    transition: 0.1s;
    pointer-events: none;
}

#confirm-lang {
    background-color: var(--10);
    transform: translateX(256px);
    transition: 0.1s;
    pointer-events: none;
    cursor: pointer;
    color: white;
    margin: 20px;
    box-shadow: 0 0 0 0 inset rgba(0, 0, 0, 0.1);
    color: var(--60);
    border-radius: 6px;
}

#confirm-lang.confirm {
    transform: translateX(0px);
    pointer-events: all;
}

#confirm-lang:hover {
    transform: scale(105%);
    background-color: var(--60);
    color: var(--10);
    box-shadow: 0 0 0 1.25px var(--10) inset;
}

#home-icon {
    width: 24px;
    height: 24px;
}

#lang-icon {
    width: 24px;
    height: 24px;
}

#page-info.semitic {
    direction: ltr;
}

#contact-section {
    font-size: 10px;
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
    margin-left: auto;
}

#contact-section div {
    margin: 10px;
}

#misc-section {
    font-size: 10px;
    height: 100%;
    padding: 8px;
    width: 256px;
}

#misc-section div {
    margin: 10px;
}

@media (min-width: 768px) {

    body {
        overflow: hidden;
    }

    h1 {
        font-size: 24px;
    }

    header button {
        width: 32px;
        height: 32px;
        margin-left: 10px;
        background-color: rgba(255, 255, 0, 0);
        padding: 0px;
    }

}