* {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Bitter", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 24px;
}

form {
    height: min-content;
}

.header {
    position: fixed;
    top: 0;
    height: 72px;
    display: flex;
    text-align: center;
    padding: 24px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 72px;
    display: flex;
    text-align: center;
    padding: 24px;
    align-items: center;
    justify-content: center;
}

.main-window {
    margin-top: 72px;
    margin-bottom: 72px;
    width: calc(100% - 24px);
    height: calc(100% - 72px - 72px);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column {
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    height: min-content;
    margin-bottom: 10px;
    color: rgba(90, 0, 255, 1);
}

.list-item {
    width: 100%;
    height: min-content;
    margin-bottom: 5px;
    box-shadow: 0 1px 0 0 rgba(90, 0, 255, 1) inset;
}

.list-btn {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    height: min-content;
    width: 100%;
    text-align: start;
    padding: 0px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.list-explanation {
    font-size: 16px;
    height: 0;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
    font-weight: 400;

}

.list-explanation.show {
    padding-top: 10px;
    padding-bottom: 10px;
    height: min-content;
}

.words {
    background-color: rgba(90, 0, 255, 0.1);
}

.legal {
    background-color: rgba(89, 0, 255, 0.2);
}

.ai {
    background-color: rgba(90, 0, 255, 0.05);
    display: flex;
    flex-direction: column;
}

.compass-link {
    width: 100%;
    height: 256px;
    background-color: rgba(90, 0, 255, 0.1);
    border-radius: 6px;
    padding: 10px
}

.chat {
    width: 100%;
    background-color: rgba(90, 0, 255, 0.488);
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
}

.sidebar {
    background-color: rgb(208, 208, 208);
    width: 256px;
    height: min-content;
    padding: 14px;
    border-radius: 10px;
}

#confirm-lang {
    background-color: rgba(90, 0, 255, 1);
    border: 0px;
    height: 40px;
    width: 80px;
    color: white;
    font-size: 20px;
    position: sticky;
    margin-top: 24px;
    left: 24px;
    bottom: 24px;
    transform: translateX(-128px);
    transition: 0.13s;
    pointer-events: none;
    border-radius: 6px;

}

#confirm-lang.show:hover {
    transform: scale(105%);
}

#confirm-lang.show {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    transform: translateY(0px);
}

#lang-bar {
    backdrop-filter: blur(10px);
    margin-top: 60px;
    padding-top: 12px;
    padding-left: 10px;
    width: 360px;
    align-self: flex-start;
    transform: translateX(-360px);
    transition-property: transform;
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.4);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#lang-bar::-webkit-scrollbar {
    display: none; /* Chrome, safari, opera */
}

#lang-picker {
    width: min-content;
    height: min-content;
    position: absolute;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    cursor: pointer;
}

#lang-icon {
    width: 32px;
    height: 32px;
    transition: 0.1s;
}

#lang-picker:hover #lang-icon {
    transform: scale(110%);
}

#lang-bar.show {
    transform: translateX(0px);
}

.lang-container {
    max-width: 300px;
}

.lang-btn {
    height: 34px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    text-align: start;
    cursor: pointer;
    padding: 0px;
    display: auto;
    width: 320px;
}

.lang-bg {
    background-color: rgba(90, 0, 255, 0);
    width: 2px;
    height: 100%;
    display: flex;
    transition-duration: 0.2s, 0s;
    transition-property: width, background-color;
    text-wrap: nowrap;
    border-radius: 6px;
}

.lang-text {
    transition-property: margin, color;
    font-weight: 500;
    transition-duration: 0.1s, 0.1s;
    pointer-events: none;
    font-size: 18px;
    padding: 0;
    line-height: 200%;
    margin-left: 10px;
    height: 100%;
}

.lang-btn:hover .lang-text {
    margin-left: 16px;
}

.lang-btn:hover .lang-bg {
    background-color: rgba(90, 0, 255, 1);
}

.lang-btn.on .lang-bg {
    width: 320px;
    color: white;
    background-color: rgba(90, 0, 255, 1);
}


/* Additional styles for tablets and up */
@media (min-width: 768px) {
    .main-window {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .column {
        width: 31%;
    }

  }
  
  /* Additional styles for desktops */
  @media (min-width: 992px) {
    .lang-btn {
        padding-left: 14px;
    }
  }
  