<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/recommendations.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <title>{{ translations['careerpioneer'] }}</title>
</head>
<body>
    <div class="header">
        <button id="lang-picker" class="show"><img id="lang-icon" src="{{ url_for('static', filename='/assets/lang.svg') }}"></button>
        <form id="home-link" action="{{ url_for('index') }}"><button id="home-btn"><img id="home-icon" src="{{ url_for('static', filename='/assets/home.svg') }}"></button></form>
        <h1>{{ translations['title-left'] }}<span class="left">{{ translations['title-right'] }}</span></h1>
    </div>
    <div class="main-window">
        <div class="job-container">
            <h2>{{ translations['recommended_jobs'] }}</h2>
            <div class="job-btn-container">
                {% for job in recommendations %}
                <div class="job-box">
                    <button class="job-btn">
                        <div class="job-bg"><span class="job-text"><span class="job-number">{{ recommendations.index(job) + 1 }}. </span>{{ job['translation'] }}</span></div>
                    </button>
                    <div class="job-ads">{{ translations['n_of_ads_1'] }} {{ job['ads'] }} {{ translations['n_of_ads_2'] }} {{ job['translation'] }}</div>
                    <a class="show-ads-btn" href="https://arbetsformedlingen.se/platsbanken/annonser?q={{ job['title'] }}">{{ translations['show_ads'] }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="lang-bar">
        <form class="lang-container" action="/careersearch" method="post">
            {% for lang in languages %}
            <button class="lang-btn" type="button" name="language" value="{{ lang['code'] }}">
                <div class="lang-bg">
                    <span class="lang-text">{{ lang["name"] }}</span>
                </div>
            </button>
            {% endfor %}
            <input type="hidden" name="language" id="selected-language">
            <button id="confirm-lang" type="submit">OK</button>
        </form>
    </div>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/recommendations.js"></script></body>
</html>

