<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <title>{{ translations['welcome'] }}</title>
</head>
<body>
    
    <div class="header">
        <button id="lang-picker" class="show"><img id="lang-icon" src="{{ url_for('static', filename='/assets/lang.svg') }}"></button>
        <h1>{{ translations['title-left'] }}<span class="left">{{ translations['title-right'] }}</span></h1>
    </div>
    <div class="main-window">
        <div class="column words">
            <h2>{{ translations['terminology']['header'] }}</h2>
            {% for term in translations['terminology']['content'] %}
                <div class="list-item">
                    <button class="list-btn">• {{ term['title'] }}</button>
                    <div class="list-explanation">{{ term['description'] }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="column legal">
            <h2>{{ translations['legal']['header'] }}</h2>
            {% for term in translations['legal']['content'] %}
                <div class="list-item">
                    <button class="list-btn">• {{ term['title'] }}</button>
                    <div class="list-explanation">{{ term['description'] }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="column ai">
            <form class="compass-link" action="{{ url_for('careersearch') }}">
                <button id="compass-btn">
                    Find a job based on your personal skills
                        <img class="compass arrow" src="{{ url_for('static', filename='/assets/arrow.svg') }}">
                </button>
            </form>
            <div class="chat">Ask other questions</div>
        </div>
    </div>
    <div id="lang-bar">
        <form class="lang-container" action="/guidance" method="post">
            {% for lang in languages %}
            <button class="lang-btn" type="button" name="language" value="{{ lang['code'] }}">
                <div class="lang-bg">
                    <span class="lang-text">{{ lang["name"] }}</span>
                </div>
            </button>
            {% endfor %}
            <input type="hidden" name="language" id="selected-language">
            <button id="confirm-lang" type="submit">OK</button>
        </form>
    </div>
    <script src="/static/guidance.js"></script>
    <script src="/static/global.js"></script>
</body>
</html>

