<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <title>{{ translations['welcome'] }}</title>
</head>
<body>
    
    <div class="header">
        <button id="lang-picker" class="show"><img id="lang-icon" src="{{ url_for('static', filename='/assets/lang.svg') }}"></button>
        <h1>{{ translations['title-left'] }}<span class="left">{{ translations['title-right'] }}</span></h1>
    </div>
    <div class="main-window">
        <div class="redirect-container">
            <h2>{{ translations['what_do_you_need_help_with'] }}</h2>
            <form class="redirect" action="{{ url_for('guidance') }}"><button>
                <img class="redirect-icon" src="{{ url_for('static', filename='/assets/guidance.svg') }}">
                {{ translations['guidance'] }}
                <img class="redirect arrow" src="{{ url_for('static', filename='/assets/arrow.svg') }}">
            </button></form>
            <form class="redirect" action="{{ url_for('careersearch') }}"><button>
                <img class="redirect-icon" src="{{ url_for('static', filename='/assets/careersearch.svg') }}">
                {{ translations['job_finder'] }}
                <img class="redirect arrow" src="{{ url_for('static', filename='/assets/arrow.svg') }}">
            </button></form>
        </div>
    </div>
    <div id="lang-bar">
        <form class="lang-container" action="/" method="post">
            {% for lang in languages %}
            <button class="lang-btn" type="button" name="language" value="{{ lang['code'] }}">
                <div class="lang-bg">
                    <span class="lang-text">{{ lang["name"] }}</span>
                </div>
            </button>
            {% endfor %}
            <input type="hidden" name="language" id="selected-language">
            <button id="confirm-lang" type="submit">OK</button>
        </form>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>

